/* No seu arquivo Carousel.css */

.custom-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #000;/
}

.slick-slider {
    margin: 0 auto;
    max-width: 600px;
}

.slick-slide {
    outline: none;
}

.slick-dots {
    bottom: 10px;
    text-align: center;
}

.slick-dots li button:before {
    font-size: 16px;
    color: #333;
}

.slick-dots li.slick-active button:before {
    color: #000;
    /* Cor do ponto ativo */
}